.bigNav{
    background-color: rgb(73, 70, 77);
    height: 70px;
    align-content: center;
}

.stButton{
    margin-left: 900px;
}

.dashword{
    font-weight: bolder;
    font-size: xx-large;
    margin-left: 50px;
}

.smalltop{
    background-color: grey;
    height: 40px;
    margin-top: 30px;
    border-radius: 12px;
}

.twoBars{
    margin-top: 45px;
}

.wineColor{
    background-color: rgb(216, 70, 70);
    color: lavenderblush;
    font-weight: bolder;
}